<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970569335467-7abakvj30tblenj48ffvc0lopmn4tap5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970569335467-7abakvj30tblenj48ffvc0lopmn4tap5</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kDZgaTPzvu-nSxNy4qmxzQ_m7MCaazU</string>
	<key>GCM_SENDER_ID</key>
	<string>970569335467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta</string>
	<key>PROJECT_ID</key>
	<string>insta-c0fbd</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-c0fbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970569335467:ios:2feb7cf8580364a4f96dee</string>
</dict>
</plist>